#content-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.buttons_edit{
    width: 45%;
}
.d-lg-inline{
    display: inline!important;
}
@media (max-width:500px){
    .side_Bar{
       display: none;
    }
}
